Recomendar películas a los usuarios basándose en películas similares, por lo que se debe encontrar la similitud de puntuación entre esa película y el resto de películas, se ordenarán según el score y devolverá una lista de Python con 5 valores, cada uno siendo el string del nombre de las películas con mayor puntaje, en orden descendente. Debe ser deployado como una función adicional de la API anterior y debe llamarse get_recommendation(titulo: str).

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [34]:
df = df.drop(columns = ['show_id', 'cast', 'director', 'country', 'description', 'release_year', 'date_added', 'rating', 'duration_int', 'duration_type', 'id'])

In [35]:
#renombro la columna rating_y como score y rating_x como rating
df = df.rename(columns={'rating_y': 'score'})
df = df.rename(columns={'rating_x': 'rating'})

In [36]:
df_movie = df[df['type'] == 'movie']

In [37]:
df_movie.head()

,type,title,listed_in,score
0,movie,duck the halls: a mickey mouse christmas special,"animation, family",3.6
1,movie,ernest saves christmas,comedy,3.5
2,movie,ice age: a mammoth christmas,"animation, comedy, family",3.6
3,movie,the queen family singalong,musical,3.5
5,movie,becoming cousteau,"biographical, documentary",3.6

In [38]:
df_movie.drop(columns = 'type', inplace = True)

C:\Users\claud\AppData\Local\Temp\ipykernel_2384\15183163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie.drop(columns = 'type', inplace = True)

In [39]:
title = 'tarzan'

In [56]:
df = pd.read_csv('dataset_plataformas_final.csv')

In [57]:
#Convertir columna de score a tipo numérico
# df['score'] = pd.to_numeric(df['score'], errors='coerce')

# Eliminar columnas no necesarias y filtrar por películas
df = df.drop(columns=['show_id', 'cast', 'director', 'country', 'description', 'release_year', 'date_added', 'rating', 'duration_int', 'duration_type', 'id']) 
df = df[df['type'] == 'movie']

# Crear matriz de similitud
tfidf_vectorizer  = TfidfVectorizer(stop_words='english')
X_train = tfidf_vectorizer.fit_transform(df['listed_in'] + " " + df['score'].fillna("").astype(str))
cosine_sim = cosine_similarity(X_train, X_train)

# Encontrar índice de la película dada
top_5 = df.index[df["title"]== title.lower()].to_list()[0]

# Crear lista de recomendaciones
recomendation = list(enumerate(cosine_sim[top_5]))
recomendation = sorted(recomendation, key=lambda x: x[1], reverse=True)
recomendation = [i for i in recomendation if df.index[i[0]]!= top_5]
recomendation = recomendation[:5]

# Seleccionar títulos y score de las películas recomendadas
respuesta = df.iloc[[i[0] for i in recomendation]][["title", "score"]]

# Ordenar por score descendente y devolver lista de títulos
respuesta = respuesta.sort_values(by="score", ascending=False)["title"].tolist()

In [58]:
respuesta

['ice age: a mammoth christmas',
 'ciao alberto',
 'paperman',
 'alvin and the chipmunks',
 'nona']